@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'base/helpers',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/breakpoints';

/// Breakpoints map
@include breakpoints((
  xxlarge:  (1681px, 4000px),
  xlarge:   ( 1281px,  1680px ),
  large:    ( 981px,   1280px ),
  medium:   ( 737px,   980px  ),
  small:    ( 481px,   736px  ),
  xsmall:   ( 361px,   480px  ),
  xxsmall:  ( null,    360px  )
));  

// 2. Vendors
@import
  'vendors/normalize',
  'vendors/html-grid';

// 3. Base stuff
@import
  'base/base',
  'base/typography'; 

// 4. Layout-related sections
@import
  'layout/footer',
  'layout/topnav',
  'layout/wrapper';

// 5. Components
@import
  'components/aboutme';

