// -----------------------------------------------------------------------------
// This file contains basic styles for the html.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element, and make sure site is never below 320px wide.
 */
html {
  box-sizing: border-box;
  min-width: 320px;
}

body, html {
  width: 100%;
  overflow-x: hidden !important;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

// MSIE: Required for IEMobile.
@-ms-viewport {
  width: device-width;
}

// Prevents scrollbar from overlapping content for MSIE and hide overflow on the x axis.
body {
  -ms-overflow-style: scrollbar;
  overflow-y: auto;
  background-color: rgba(0,0,0,1);
  color: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  // Stops initial animations until page loads.
  &.pre-animate {
    *, *:before, *:after {
      @include vendor('animation', 'none !important');
      @include vendor('transition', 'none !important');
    }
  }
}

